.all-rhymes-component {
  text-align: center;
  margin: auto;
  padding: 10px 0;

  h3 {
    font-size: 35px;
    font-style: italic;
    margin: 30px 0;
  }

  .wrapper {
    max-width: 900px;
    margin: auto;
  }
}
